/*-------------------Contact--------------*/

.container-contact {
    display: flex;
    flex-direction: column;
    gap: 5%;
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
    padding: 120px 50px;
  }
  
  .formContact {
    padding: 50px;
    background: url("../Images/BackContact.png"), rgba(255, 255, 255, 0.5);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }
  
  .container-contact h2 {
    font-family: Salsa;
    font-size: xx-large;
    color: white;
  }
  
  .input-radio {
    margin-bottom: 10px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
  }
  
  .input-txtarea {
    display: flex;
    flex-direction: column;
  }
  
  .input-txtarea textarea {
    padding: 4px 8px;
  }
  
  #submitContact {
    display: block;
    font-family: Salsa;
    width: 20%;
    height: 4%;
    top: 88%;
    left: 45%;
    padding: 4px;
    text-align: center;
    background: #396e87;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
  }
  